/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#img-size1 {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 650px;
}

#img-size2 {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 650px;
}